
{% extends 'user-template/includes/base.html'%} 
{%block content%}

<!--login users-->
<div class="container mt-4" >
    <div class="row justify-content-center">
      <div class="col-md-6" style="margin-top: 100px;">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Log in</button>
    <br><br>
    <h6>You don't have an account ? click here <a href="{% url 'customer-register' %}" style="color: red;"> register</a></h6>

  </form>
      </div>
    </div>
</div>

{%endblock content%}
