{% extends 'user-template/includes/base.html'%} 
{% include 'user-template/includes/header.html' %}
{% block content %}

<!--Medsearch section-->
<section class="u-align-left u-clearfix u-image u-valign-middle-sm u-valign-middle-xs u-section-1" id="carousel_b7e9">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-31 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-custom-font u-font-lato u-text u-text-body-alt-color u-text-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Left">Med Search</h1>
                <h5 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">All you need is here</h5>
                <form class="form-subscribe" id="contactForm" method="post" enctype="multipart/form-data" action="{% url 'search_medicines' %}">
                    {% csrf_token %}
                    <!-- Medicine name input -->
                      <!-- Image input -->
                      <div class="form-group mt-3">
                        <label class="u-text u-text-body-alt-color u-text-3" style="margin-top:5px;" for="imageInput">Upload an image of the medicine label:</label>
                        <input type="file" class="form-control-file" name="image" id="imageInput" accept="image/*" />
                    </div>
                    <label class="u-text u-text-body-alt-color u-text-3" style="margin-top:5px;" for="textInput">Or enter the medicine name or ingredients:</label>

                    <div class="row">
                        
                        <div class="col">
                            <input class="form-control form-control-lg" name="q" value="{{ query }}" id="medicime-name" type="text" placeholder="Medicine Name ..." />
                        </div>
                        <div class="col-auto">
                            <button class="u-active-white u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-lato u-hover-white u-palette-4-light-2 u-radius-0 u-btn-2" style ="margin-top: 0;" id="submitButton" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-29 u-image-1">
              <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end Medsearch section-->


<!--Medcine detail section-->
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img class="card-img" src="{{ medicine.photo.url }}" alt="{{ medicine.name }}" style="width: 300px; height: 300px;">
        </div>
        <div class="col-md-8">
            <h2>{{ medicine.name }}</h2>
            <p><strong>Company Name :</strong> {{ medicine.company }}</p>
            <p><strong>Description :</strong> {{ medicine.description }}</p>
            <p><strong>Price:</strong> {{ medicine.price }}</p>

            <p><strong>Ingredients:</strong></p>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% empty %}
                    <li>No ingredients listed.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--end Medcine detail section-->

<br><br>
<hr>
{% endblock %}
